body {
    background-color: #75D5E1;
}

img {
    width: 100%;
}


.hero-img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    
}

.hero-img img {
    max-height: 99.2vh;  
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -85%);
    width: 100%;
    max-width: 500px;
    height: 100%;
    
}

.menu {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

.menu-btn {
    border: 5px solid #3A055A;
    box-shadow: 6px 6px 0px 0px #040B42;
    font-size: 1rem;
    display: inline-block;
    padding: 18px 28px;
}


