@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

:root {
    --pri-color: #75D5E1;
    --font-color: #3A055A;
    --font-size-2rem: 2rem;
    --token-size: 5.5rem;
}

@font-face {
    font-family: 'Stora'; /* Name of the font */
    src: url('/fonts/Stora.woff2') format('woff2'), /* Most modern browsers */
         url('/fonts/Stora.woff') format('woff'),    /* Older browsers */
         url('/fonts/Stora-Light.ttf') format('truetype'); /* Fallback */
    font-weight: normal;
    font-style: normal;
  }

html {
    scroll-behavior: smooth;
}
  

body {
    background-color: var(--pri-color);
    color: var(--font-color);
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;

}

img {
    width: 100%;
}

.box {
    border: 5px solid #3A055A;
    box-shadow: 6px 6px 0px 0px #040B42;
    border-radius: 22px;
    overflow: hidden;
}

.box-inset {
    box-shadow: 10px 10px 0px 0px #040B42 inset;
    border: 3px solid #040B42;
    border-radius: 22px;
    overflow: hidden;
}

section {
    padding-top: 80px;
}

.shadow-text {
    font-family: "Stora";
    text-shadow: 3px 6px 0px #040B42;
    color: #FA8CA8;
    -webkit-text-stroke: 2px #040B42;
}



.hero {
    height: 100%;
    background: url('/images/hero.png') center center/cover no-repeat;

}

.hero-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -85%);
    width: 90%;
    max-width: 500px;
    height: 100%;

}

.hero-img img {
    max-height: 100vh;
}


.menu {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    padding-top: 5rem;
}

.menu-btn {
    border: 5px solid var(--font-color);
    box-shadow: 6px 6px 0px 0px #040B42;
    font-size: 2.5rem;
    display: inline-block;
    border-radius: 24px;
    padding: 5px 25px;
    background-color: var(--pri-color);
    cursor: pointer;
    transition: 0.4s;
    margin-left: 30px;
}

.menu-open {
    box-shadow: unset;
    transform: translate(5px, 5px);
}

.menubar {
    height: 400px;
    background-color: var(--pri-color);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border: 5px solid var(--font-color);
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    margin-top: 2rem;
    transform: translate(-100%);
    transition: 0.4s;
    
}

.menubar .nav-link {
    font-size: 2.5rem;
    color: var(--font-color);
}

.show-menubar {
    transform: translate(0px);
}


/* About us */
#about .box {
    background: url("/images/aboutBg.png") center center/cover no-repeat;
    background-color: #B6DBFF;

}

.about-heading {
    background: linear-gradient(90deg, #842AFC 0%, #CC6DFA 50%, #65ECFF 100%);
    font-size: 4rem;
    text-align: center;
    border-bottom: 5px solid #3A055A;
}

.about-text {
    font-size: 2.1875rem;
    font-weight: 100;
    word-spacing: 10px;
}

/* Tokenomics */
.token-heading {
    font-size: var(--token-size);
    text-align: center;

}

.chart {
    margin-top: 5rem;
    max-width: 1000px;
    margin-inline: auto;
}

.chart-img {
    max-width: 500px;
}

.token-percent {
    text-align: center;
    background-color: #040B42;
    color: #F7CB46;
    font-size: var(--font-size-2rem);
    display: inline-block;
    border-radius: 12px;
    padding: 3px 15px;
    
}

.token-text {
    font-size: 4.5rem;
    color: #FA8CA8;
    -webkit-text-stroke: 2px #040B42;
    text-shadow: 2px 2px 0px #040B42;
    line-height: 0.4;
    padding-left: 5px;
}


marquee {
    background-color: var(--font-color);
    color: var(--pri-color);
    font-size: 4rem;
    line-height: 1;

}

.wow-img {
    margin-top: -6%;
    position: relative;
    
}

/* Roadmap */
.phase {
    border-radius: 56px;
    margin-bottom: 4rem;
}

.phase-img {
    height: 100%;
}

.phase-img.one {
 background: url("images/phase1.png") center center/cover no-repeat;
}
.phase-img.two {
 background: url("images/phase2.png") center center/cover no-repeat;
}
.phase-img.three {
 background: url("images/phase3.png") center center/cover no-repeat;
}
.phase-img.four {
 background: url("images/phase4.png") center center/cover no-repeat;
}



.phase-heading {
    display: inline-block;
    font-size: var(--font-size-2rem);
    margin-bottom: 2.5rem;
    padding: 3px 15px;
    font-family: "Stora";
    position: absolute;
    top: 10px;
    z-index: 1;
}

.phase-subheading {
    font-size: var(--font-size-2rem);
}

.phase-left .phase-heading {
    left: 20%;
}
.phase-right .phase-heading {
    right: 20%;
}


.phase-content {
    padding-top: 5rem;
}
.phase-text {
    font-size: 1.375rem;
}

/* Socail */
.social {
    border: 8px solid #3A055A;
    border-radius: 24px;
    background: url("/images/crewBg.png") center center/cover no-repeat;
    padding: 2.5rem;
}

.social-title {
    color: #F7CB46;
    font-size: 4.5rem;
    font-family: "Stora";
    text-shadow: 3px 6px 0px #040B42;
    -webkit-text-stroke: 2px #040B42
}

.social-mobile {
    border: 3px solid #3A055A;
    box-shadow: 6px 6px 0px 0px #040B42;
    padding: 12px;
    border-radius: 24px;
    text-decoration: none !important;    
    color: var(--font-color);

}

.social-screen {
    border: 3px solid #3A055A;
    background-color: #F7CB46;
    padding: 16px 24px;
    border-radius: 15px;
}

.mobile-1 {
    transform: rotate(-8.55deg);
}
.mobile-2 {
    transform: rotate(3.97deg);
    position: relative;
    top: 20px;
    margin-top: 20px;
}

.social-text {
    font-size: 1.5rem;
}

.fa-brands {
    font-size: var(--font-size-2rem);
    color: #fff;
}

.disclaimer {
    padding-bottom: 50px;
    font-size: var(--font-size-2rem);
    cursor: pointer;
}



@media (min-width: 1300px) {
    .container-fluid {
        max-width: 1400px !important;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 1200px !important;
    }
    .about-heading {
      font-size: 3.5rem;
    }
    .about-text {
      font-size: 1.9rem;
    }
    .token-heading {
      font-size: 4.5rem;
    }
    .token-text {
      font-size: 4rem;
    }
    .token-percent, .phase-heading, .phase-subheading {
      font-size: 1.8rem;
    }
    marquee {
      font-size: 3.5rem;
    }
    .social-title {
      font-size: 4rem;
    }
    .social-text {
      font-size: 1.3rem;
    }
    .fa-brands, .disclaimer {
      font-size: 1.8rem;
    }
    .menu-btn, .menubar .nav-link {
      font-size: 2rem;
    }
  }
  
  @media (max-width: 992px) {
    .about-heading {
      font-size: 3rem;
    }
    .about-text {
      font-size: 1.7rem;
    }
    .token-heading {
      font-size: 4rem;
    }
    .token-text {
      font-size: 3.5rem;
    }
    .token-percent, .phase-heading, .phase-subheading {
      font-size: 1.6rem;
    }
    marquee {
      font-size: 3rem;
    }
    .social-title {
      font-size: 3.5rem;
    }
    .social-text {
      font-size: 1.2rem;
    }
    .fa-brands, .disclaimer {
      font-size: 1.6rem;
    }
    .menu-btn, .menubar .nav-link {
      font-size: 1.8rem;
    }

    .phase-img {
        height: 400px;
    }
    .phase-content {
        padding-top: 2rem;
    }

    .phase-heading {
        position: static;
    }

    .social-img {
        max-width: 500px;
        margin-bottom: 2rem;
        margin-inline: auto;
    }

    .social-content {
        margin-inline: auto;
        margin-bottom: 2rem;
    }

    .menu {
        margin-top: 6rem;
    }

    .menubar {
        height: 300px;
    }
  }
  
  @media (max-width: 768px) {
    .about-heading {
      font-size: 2.5rem;
    }
    .about-text {
      font-size: 1.5rem;
    }
    .token-heading {
      font-size: 3.5rem;
    }
    .token-text {
      font-size: 3rem;
    }
    .token-percent, .phase-heading, .phase-subheading {
      font-size: 1.4rem;
    }
    marquee {
      font-size: 2.5rem;
    }
    .social-title {
      font-size: 3rem;
    }
    .social-text {
      font-size: 1.1rem;
    }
    .fa-brands, .disclaimer {
      font-size: 1.4rem;
    }
    .menu-btn, .menubar .nav-link {
      font-size: 1.5rem;
    }
    .phase-img {
        height: 300px;
    }

    .chart-img {
        max-width: 400px;
    }
  }
  
  @media (max-width: 576px) {
    .hero {
      background: url("/images/heroMobile.JPG") center center/cover no-repeat;
    }
    body {
        overflow-x: hidden;
    }
    .about-heading {
      font-size: 2rem;
    }
    .about-text {
      font-size: 1.3rem;
    }
    .token-heading {
      font-size: 3rem;
    }
    .token-text {
      font-size: 2.5rem;
    }
    .token-percent, .phase-heading, .phase-text {
      font-size: 1.2rem;
    }
    marquee {
      font-size: 2rem;
    }
    .social-title {
      font-size: 2.5rem;
    }
    .social-text {
      font-size: 1rem;
    }
    .fa-brands, .disclaimer {
      font-size: 1.2rem;
    }
    .menu-btn, .menubar .nav-link {
      font-size: 1.2rem;
    }
  }
  