@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

:root {
    --pri-color: #75D5E1;
    --font-color: #3A055A;
}

body {
    background-color: var(--pri-color);
    color: var(--font-color);
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;

}

img {
    width: 100%;
}

.box {
    border: 5px solid #3A055A;
    box-shadow: 6px 6px 0px 0px #040B42;
}

.box-inset {
    box-shadow: 10px 10px 0px 0px #040B42 inset;
    border: 3px solid #040B42;
}




.hero-img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;

}

.hero-img img {
    max-height: 99.2vh;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -85%);
    width: 100%;
    max-width: 500px;
    height: 100%;

}

.menu {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    padding-top: 5rem;
}

.menu-btn {
    border: 5px solid var(--font-color);
    box-shadow: 6px 6px 0px 0px #040B42;
    font-size: 1.5rem;
    display: inline-block;
    border-radius: 24px;
    padding: 5px 25px;
    background-color: var(--pri-color);
    cursor: pointer;
    transition: 0.4s;
    margin-left: 30px;
}

.menu-btn:hover {
    box-shadow: unset;
    transform: translate(5px, 5px);
}

.menubar {
    height: 400px;
    background-color: var(--pri-color);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    border: 5px solid var(--font-color);
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    margin-top: 2rem;
    transform: translate(-100%);
    transition: 0.4s;
    
}

.menubar .nav-link {
    font-size: 1.8rem;
    color: var(--font-color);
}

.show-menubar {
    transform: translate(0px);
}

section {
    padding-block: 50px;
}